# BACKEND
/backend/node_modules/
backend/node_modules/      
/backend/dist/
backend/dist/              
/backend/build/
/backend/*.log
/backend/.env
/backend/*.tsbuildinfo

# FRONTEND
frontend/node_modules/
frontend/dist/
/frontend/build/
/frontend/.env

# GERAL
.DS_Store
Thumbs.db
*.log
*.tsbuildinfo

# CONFIGURAÇÕES DE EDITORES
.vscode/
.idea/
